.hp-card {
    @apply lg:gap-6;
}

.hp-card-interactive {
    @apply border-outline-low/80 hover:border-outline-medium/32 transition-all duration-500 hover:scale-[1.005];
}

.hp-card-variant-solid {
    @apply bg-elevation-surface/32 backdrop-blur-md;
}

.hp-card-title {
    @apply font-family-secondary font-regular text-base;
}

.hp-card-body {
    @apply justify-center gap-y-4;
}
